/* Coolors Exported Palette - https://coolors.co/4e5340-697268-95a3a4-b7d1da-e2e8dd */

/* CSS HEX */
--ebony: #4e5340ff;
--ebony-2: #697268ff;
--cadet-gray: #95a3a4ff;
--columbia-blue: #b7d1daff;
--alabaster: #e2e8ddff;

/* CSS HSL */
--ebony: hsla(76, 13%, 29%, 1);
--ebony-2: hsla(114, 5%, 43%, 1);
--cadet-gray: hsla(184, 8%, 61%, 1);
--columbia-blue: hsla(195, 32%, 79%, 1);
--alabaster: hsla(93, 19%, 89%, 1);

/* SCSS HEX */
$ebony: #4e5340ff;
$ebony-2: #697268ff;
$cadet-gray: #95a3a4ff;
$columbia-blue: #b7d1daff;
$alabaster: #e2e8ddff;

/* SCSS HSL */
$ebony: hsla(76, 13%, 29%, 1);
$ebony-2: hsla(114, 5%, 43%, 1);
$cadet-gray: hsla(184, 8%, 61%, 1);
$columbia-blue: hsla(195, 32%, 79%, 1);
$alabaster: hsla(93, 19%, 89%, 1);

/* SCSS RGB */
$ebony: rgba(78, 83, 64, 1);
$ebony-2: rgba(105, 114, 104, 1);
$cadet-gray: rgba(149, 163, 164, 1);
$columbia-blue: rgba(183, 209, 218, 1);
$alabaster: rgba(226, 232, 221, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e5340ff, #697268ff, #95a3a4ff, #b7d1daff, #e2e8ddff);
$gradient-right: linear-gradient(90deg, #4e5340ff, #697268ff, #95a3a4ff, #b7d1daff, #e2e8ddff);
$gradient-bottom: linear-gradient(180deg, #4e5340ff, #697268ff, #95a3a4ff, #b7d1daff, #e2e8ddff);
$gradient-left: linear-gradient(270deg, #4e5340ff, #697268ff, #95a3a4ff, #b7d1daff, #e2e8ddff);
$gradient-top-right: linear-gradient(45deg, #4e5340ff, #697268ff, #95a3a4ff, #b7d1daff, #e2e8ddff);
$gradient-bottom-right: linear-gradient(135deg, #4e5340ff, #697268ff, #95a3a4ff, #b7d1daff, #e2e8ddff);
$gradient-top-left: linear-gradient(225deg, #4e5340ff, #697268ff, #95a3a4ff, #b7d1daff, #e2e8ddff);
$gradient-bottom-left: linear-gradient(315deg, #4e5340ff, #697268ff, #95a3a4ff, #b7d1daff, #e2e8ddff);
$gradient-radial: radial-gradient(#4e5340ff, #697268ff, #95a3a4ff, #b7d1daff, #e2e8ddff);