

nav {
    background-color: #333;
    color: white;
    padding: 14px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    background-color: lightblue;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.profile-container {
    background-color: #fff;
    padding: 200px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: 60%;
    margin: 100px auto;
    display: flex;
    gap: 20px;

}
.profile-details{
    justify-content: right;
}
.profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #333;
}
.profile-name {
    font-size: 24px;
    margin: 10px 0;
}
.profile-email {
    color: #555;
    margin: 5px 0;
}
.profile-bio {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}
.overall-profile-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}